* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
a:active,
a:hover {
  text-decoration: none;
}

.section_title {
  color: black;
  text-align: center;
  margin: 2rem 1rem;
}

@import './layout/board.scss';

@import './description/moviedescription.scss';
